.main h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 2rem;
}
.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.events h3 {
    text-transform: uppercase;
}
.events article {
    width: 20%;
}
.events img {
    height: auto;
    width: 100%;
    border: 3px solid #3882F6;
    border-radius: 8px;
}
.events img:hover {
    opacity: 0.5;
}
.action {
    margin-top: 5rem;
}