.main-section h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 2rem;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.gallery img {
    height: 100%;
    width: auto;
    max-width: 200px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}
.gallery img:hover {
    opacity: 0.5;
}
figcaption {
    text-align: center;
    font-size: 1.5rem;
}
.citation {
    background: #E5E7EB;
    padding: 5rem 15rem;
    margin: 5rem 0;
}
.citation blockquote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}
span {
    color: #3882F6;
}
.citation cite {
    font-weight: 800;
    font-size: 1.5rem;
    text-align: end;
}
@media all and (max-width: 800px) {
    .citation {
        padding: 5rem 5rem;
    }
}